// font-sizes

// line-heights

// spaces (margins, paddings)

// *colors*
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$dull-orange: #e17334;
$brownish-grey: #6b6b6b;
$white: #ffff;
$white-three: #d8d8d8;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$gunmetal: #54585a;
$whitefour: #f5f5f5;
$dried-blood: #420101;
$rusty-red: #bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;

// fonts
$opensans-regular: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$fontmerry: 'Merriweather', serif;