.form {
    padding: 121px 19px 103px 20px;
    font: 1.4rem $opensans-regular;
    color: $dark-green-blue;

    &_name {
        width: 218px;
        height: 55px;
    }

    &_box {
        width: 281px;
        height: 30px;
        margin: 7px 0 20px 0;
        border: solid 1px $hospital-green;
        padding: 9px;
    }
}