.app_mobile{
    width: 20rem;
    height: 35.5rem;
}
.Rectangle-3 {
    width: 20rem;
    height: 28.6rem;
    padding: 5.87rem 1.62rem 1.87rem 1.56rem;
    background-color: $backgroundlanding;
  }
.landinglogo__awesomecards {
    width: 15.6rem;
    height: 3.94rem;
    object-fit: contain;
  }