.landing {
  width: 100%;
}
.rectangle-3 {
  height: 458px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 26px 30px 25px;
  background-color: $whitefour;
}
.landinglogo__awesomecards {
  width: 250px;
  height: 63px;
  object-fit: contain;
}
.create__tarjet {
  margin-top: 35px;
  font-size: 19.2px;
  font-weight: 900;
  text-align: center;
  font-family: $fontmerry;
  color: $dull-orange;
}
.better__contacts {
  width: 264.8px;
  height: 38.4px;
  margin: 0px 1.6px 17.8px 1.6px;
  font-family: $opensans-regular;
  font-size: 12.8px;
  text-align: center;
  color: $dark-blue;
}
.options {
    width: 268px;
    height: 73.8px;
    margin: 17.8px 0 0.2px;
    padding: 15px 20px 9.8px 20px;
    display: flex;
    align-items: first baseline;
    justify-content: space-around;
    border: solid 1.6px $dull-orange;
    &__text {
      font-size: 12.8px;
      font-family: $opensans-regular;
    }
    &__details{
      text-align: center;
    }
}
.button {
  width: 129px;
  height: 42px;
  display: flex;
  justify-content: center;
  margin: 38px 75px 0 65px;
  padding: 10px 20px;
  border-radius: 21px;
  background-color: $dark-blue;
  &__start {
    text-decoration: none;
    font-size: 16px;
    font-family: $opensans-regular;
    color: $whitefour;
    font-weight: 700;
  }
}
