.create__body {
  padding-bottom: 12rem;
}

@media all and (min-width: 768px) {
  .create__body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-direction: row;
      background: linear-gradient(to bottom, $whitefour, $white);
      padding: 3rem 4rem 2rem 4rem;
      box-sizing: border-box;
      gap: 3rem;
      justify-content: space-between;

      &__preview {
        order: 2;
      }

      &__form {
        height: 100%;
      }
    }
  }
}


@media all and (min-width: 1024px) {
  .create__body {
    .main {
      grid-template-columns: 1fr 2fr;
    }
  }

}