.share {
  width: 100%;
  height: 167px;
  display: flex;
  flex-direction: column;

  &__group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 137px;
    border-top: 1px solid $white-three;
    border-bottom: 1px solid $white-three;
    padding-inline-start: 2px;
  }

  &__text {
    grid-column: span 3;
    align-self: center;
    font-family: $opensans-regular;
    font-size: 18px;
    margin-top: 20px;
    color: $gunmetal;
  }

  &__link {
    grid-column: span 3;
    font-family: $opensans-regular;
    color: $dull-orange;
    font-size: 12px;
  }

  &__button {
    grid-column: 2;
    justify-content: center;
    width: 181px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #1da1f2;
    font-family: $opensans-regular;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
}
