<aside class="aside">
    <button class="aside__button"><i class="fa-regular fa-trash-can"></i></i> RESET</button>
    <div class="card">
        <article class="card__details">
            <h1 class="card__details__name">Nombre Apellido</h1>
            <h2 class="card__details__job">Front-End Developer</h2>
        </article>
        <img class="card__photo" src="http://placekitten.com/g/240/200" alt="Tu foto">
        <span class="card__social">
            <i class="card__social__icon fa-solid fa-mobile-screen-button"></i>
            <i class="card__social__icon fa-regular fa-envelope"></i>
            <i class="card__social__icon fa-brands fa-linkedin-in"></i>
            <i class="card__social__icon fa-brands fa-github-alt"></i>
        </span>
    </div>
</aside>