<aside class="aside">
    <button><i class="fa-regular fa-trash-can"></i></i> RESET</button>
    <div class="aside__card">
        <article class="aside__card__name">
            <h1>Nombre Apellido</h1>
            <h2>Front-End Developer</h2>
        </article>
        <img class="aside__card__photo" src="http://placekitten.com/g/240/200" alt="Tu foto">
        <span class="aside__card__social">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-github-alt"></i>
        </span>
    </div>
</aside>