<form class="card__create" action="#">
  <fieldset class="create__content">
    <legend class="content__legend">
      <div class="legend__info">
        <i class="info__icon fa-regular fa-object-ungroup" style="color: #E17334;"></i>
        <span class="info__text">Diseña</span>
      </div>
      <i class="content__icon fa-solid fa-chevron-down" style="color: #54585a;"></i>
    </legend>
    <div class="content__design">
      <span class="design__title">Colores</span>
      <div class="design__colors">
        <div class="colors__select">
          <label for="palette1" class="select__option">
            <input id="palette1" type="radio" value="color1" name="color1" />
            <div class="select__container">
              <div class="container__color color__1"></div>
              <div class="container__color color__2"></div>
              <div class="container__color color__3"></div>
            </div>
          </label>
        </div>
        <div class="colors__select">
          <label for="palette2" class="select__option">
            <input id="palette2" type="radio" value="color1" name="color1" />
            <div class="select__container">
              <div class="container__color color__4"></div>
              <div class="container__color color__5"></div>
              <div class="container__color color__6"></div>
            </div>
          </label>
        </div>
        <div class="colors__select">
          <label for="palette3" class="select__option">
            <input id="palette3" type="radio" value="color1" name="color1" />
            <div class="select__container">
              <div class="container__color color__7"></div>
              <div class="container__color color__8"></div>
              <div class="container__color color__9"></div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <legend class="content__legend">
      <div class="legend__info">
        <i class="info__icon fa-solid fa-share-nodes" style="color: #E17334;"></i>
        <span class="info__text">Rellena</span>
      </div>
      <i class="content__icon fa-solid fa-chevron-down" style="color: #54585a;"></i>
    </legend>
    <load src="/partials/form.html" />
    <legend class="content__legend">
      <div class="legend__info">
        <i class="info__icon fa-regular fa-keyboard" style="color: #E17334;"></i>
        <span class="info__text">Comparte</span>
      </div>
      <i class="content__icon fa-solid fa-chevron-down" style="color: #54585a;"></i>
    </legend>
    <button class="content__button">
      <i class="button__icon fa-regular fa-address-card" style="color: #ffffff;"></i>
      <span class="button__text">Crear tarjeta</span>
    </button>
  </fieldset>
</form>
