<form class="card__create" action="#">
    <fieldset class="create__content">
      <legend class="content__legend">
        <div class="legend__info">
          <img class="info__icon" src="" alt="">
          <span class="info__text">Diseña</span>
        </div>
        <img class="content__icon" src="" alt="">
      </legend>
      <div class="content__design">
        <span class="design__title">Colores</span>
        <div class="design__colors">
          <div class="colors__select">
            <label for="color1" class="select__option">
              <input
                id="color1"
                type="radio"
                value="color1"
                name="color1"
              />
              <div class="select__container">
                <div class="container__color color__1"></div>
                <div class="container__color color__2"></div>
                <div class="container__color color__3"></div>
              </div>
            </label>
          </div>
          <div class="colors__select">
            <label for="color1" class="select__option">
              <input
                id="color1"
                type="radio"
                value="color1"
                name="color1"
              />
              <div class="select__container">
                <div class="container__color color__4"></div>
                <div class="container__color color__5"></div>
                <div class="container__color color__6"></div>
              </div>
            </label>
          </div><div class="colors__select">
            <label for="color1" class="select__option">
              <input
                id="color1"
                type="radio"
                value="color1"
                name="color1"
              />
              <div class="select__container">
                <div class="container__color color__7"></div>
                <div class="container__color color__8"></div>
                <div class="container__color color__9"></div>
              </div>
            </label>
          </div>
        </div>
      </div>
      <legend class="content__legend">
        <div class="legend__info">
          <img class="info__icon" src="" alt="">
          <span class="info__text">Rellena</span>
        </div>
        <img class="content__icon" src="" alt="">
      </legend>
      <legend class="content__legend">
        <div class="legend__info">
          <img class="info__icon" src="" alt="">
          <span class="info__text">Comparte</span>
        </div>
        <img class="content__icon" src="" alt="">
      </legend>
      <button class="content__button">
        <img class="button__icon" src="" alt="">
        <span class="button__text">Crear tarjeta</span> 
      </button>
    </fieldset>
  </form>