<form class="form" action="#" method="POST" enctype="multipart/form-data">
  <div class="form_group">
    <label class="form_text" for="nombre">Nombre completo</label>
    <input
      class="form_box"
      type="text"
      id="nombre"
      name="nombre"
      placeholder="Ej: Muchacha"
    />
  </div>

  <div class="form_group">
    <label class="form_text" for="puesto">Puesto</label><br />
    <input
      class="form_box"
      type="text"
      id="puesto"
      name="puesto"
      placeholder="Ej: Front-End unicorn"
    />
  </div>

  <div class="form_group">
      <label class="form_text" for="imagen">Imagen de perfil</label>
    <div class="form_image_square">
      <button class="form_image-button" for="img-selector" id="imagen">
        Añadir imagen
      </button>
      <!-- <input class="form_box" type="file" id="imagen" name="imagen"> -->
      <div class ="form_square"></div>
    </div>
  </div>

  <div class="form_group">
    <label class="form_text" for="email">Email</label><br />
    <input
      class="form_box"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: muchacha@gmail.com"
    />
  </div>

  <div class="form_group">
    <label class="form_text" for="telefono">Teléfono</label>
    <input
      class="form_box"
      type="tel"
      id="telefono"
      name="telefono"
      placeholder="Ej: 666 66 66 66"
    />
  </div>

  <div class="form_group">
    <label class="form_text" for="linkedin">Linkedin</label>
    <input
      class="form_box"
      type="text"
      id="linkedin"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/muchacha"
    />
  </div>

  <div class="form_group">
    <label class="form_text" for="github">Github</label>
    <input
      class="form_box"
      type="text"
      id="github"
      name="github"
      placeholder="Ej: @muchacha"
    /><br />
  </div>
</form>
