<fieldset class="form js__content_form hidden">
  <div class="form_group">
    <label class="form_text" for="nombre">Nombre completo</label>
    <input class="form_box js__inputName" type="text" id="nombre" name="nombre" placeholder="Ej: Muchacha" />
  </div>

  <div class="form_group">
    <label class="form_text" for="puesto">Puesto</label><br />
    <input class="form_box js__inputJob" type="text" id="puesto" name="puesto" placeholder="Ej: Front-End unicorn" />
  </div>

  <div class="form_group">
    <label class="form_text" for="imagen">Imagen de perfil</label>
    <div class="form_image_square">
      <label class="form_image-button" for="img-selector" id="imagen">Añadir imagen
        <input class="js__profile-upload-btn" type="file" id="image" name="image">
      </label>
      <span class="form_square js__profile-preview"></span>
    </div>
  </div>

  <div class="form_group">
    <label class="form_text" for="email">Email</label><br />
    <input class="form_box js__inputMail" type="email" id="email" name="email" placeholder="Ej: muchacha@gmail.com" />
  </div>

  <div class="form_group">
    <label class="form_text" for="telefono">Teléfono</label>
    <input class="form_box js__inputPhone" type="tel" id="telefono" name="telefono" placeholder="Ej: 666 66 66 66"
      pattern="/^\+?(\d.*){3,}$/" /><span class="form_error js__errorPhone"></span>
  </div>

  <div class="form_group">
    <label class="form_text" for="linkedin">Linkedin</label>
    <input class="form_box js__inputLinkedin" type="text" id="linkedin" name="linkedin"
      placeholder="Ej: linkedin.com/in/muchacha" />
  </div>

  <div class="form_group">
    <label class="form_text" for="github">Github</label>
    <input class="form_box js__inputGithub" type="text" id="github" name="github" placeholder="Ej: @muchacha" /><br />
  </div>
</fieldset>