<form class= "form" action="#" method="POST" enctype="multipart/form-data">
    <div class="form_name">
            <label for="nombre">Nombre completo:</label>
            <div class="form_name_box"><input type="text" id="nombre" name="nombre" placeholder="Ej: Muchacha"></div>
    </div>

    <div class="form_job">
            <label for="puesto">Puesto:</label><br>
            <input type="text" id="puesto" name="puesto" placeholder="Ej: Front-End unicorn">
    </div>

    <div class="form_image">
            <label for="imagen">Imagen de perfil:</label>
            <input type="file" id="imagen" name="imagen">
    </div>

    <div class="form_email">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Ej: muchacha@gmail.com">
    </div>

    <div class="form_telephone">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" placeholder="Ej: 666 66 66 66">
    </div>

    <div class="form_linkedin">
            <label for="linkedin">Linkedin:</label>
            <input type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/muchacha">
    </div>

    <div class="form_github">
            <label for="github">Github:</label>
            <input type="text" id="github" name="github" placeholder="Ej: @muchacha"><br>
    </div>
</form>