<div class="landing">
  <section class="rectangle-3">
    <div class="landinglogo">
      <img
        class="landinglogo__awesomecards"
        src="./images/logo-awesome-profile-cards.svg"
      />
    </div>
    <span class="create__tarjet">Crea tu tarjeta de visita</span>
    <span class="better__contacts"
      >Crea mejores contactos profesionales de forma fácil y cómoda</span
    >
    <div class="options">
        <img src="#" class="options__design" alt="Diseña" />
        <img src="./images/icons8-teclado-32.png" alt="Rellena" />
        <img src="./images/icons8-compartir-30.png" alt="Comparte" />
      </span>
    </div>
    <div class="button__start">
        <a href="" target="_blank" class="button"
          >Comenzar</a
        >
      </div>
  </section>
</div>
