<div class="landing">
  <section class="rectangle-3">
    <div class="landinglogo">
      <img class="landinglogo__awesomecards" src="./images/logo-awesome-profile-cards.svg" />
    </div>
    <span class="create__tarjet">Crea tu tarjeta de visita</span>
    <span class="better__contacts">Crea mejores contactos profesionales de forma fácil y cómoda</span>
    <div class="options">
      <div class="options__details">
        <img src="./images/icons8-desagrupar-objetos-50.png" class="options__design" alt="Diseña" />
        <p class="options__text">Diseña</p>
      </div>
      <div class="options__details">
        <img src="./images/icons8-teclado-32.png" class="options__fill" alt="Rellena" />
        <p class="options__text">Rellena</p>
      </div>
      <div class="options__details">
        <img src="./images/icons8-compartir-30.png" class="options__options03_share" alt="Comparte" />
        <p class="options__text">Comparte</p>
      </div>
    </div>
    <div class="button">
      <a href="../create.html" target="_blank" class="button__start">COMENZAR</a>
    </div>
  </section>
</div>