<div class="landing">
  <section class="rectangle-3">
    <div class="landinglogo">
      <img
        class="landinglogo__awesomecards"
        src="./images/logo-awesome-profile-cards.svg"
      />
    </div>
    <span class="create__tarjet">Crea tu tarjeta de visita</span>
    <span class="better__contacts"
      >Crea mejores contactos profesionales de forma fácil y cómoda</span
    >
    <div class="options">
      <div class="options__options01">
        <img src="#" class="options__options01__design" alt="Diseña" />
        <p class="options__desing">Diseña</p>
      </div>
      <div class="options__options02">
        <img
          src="./images/icons8-teclado-32.png"
          class="options__options02_fill"
          alt="Rellena"
        />
        <p class="options__fill">Rellena</p>
      </div>
      <div class="options__options03">
        <img
          src="./images/icons8-compartir-30.png"
          class="options__options03_share"
          alt="Comparte"
        />
        <p class="options__share">Comparte</p>
      </div>
    </div>
    <div class="button__start">
      <a href="./card.html" target="_blank" class="button__start__button"
        >Comenzar</a
      >
    </div>
  </section>
</div>
