<section class="preview js__preview palette1">
    <div class="preview__total">
        <button class="preview__total__button js__reset_button"><i class="fa-regular fa-trash-can"></i></i> RESET</button>
        <div class="card">
            <article class="card__details">
                <h1 class="card__details__name js__cardName">Nombre Apellido</h1>
                <h2 class="card__details__job js__cardJob">Front-End Developer</h2>
            </article>
            <div class="card__photo"></div>
            <span class="card__social">
                <a class="js__cardPhone" href="tel:+123456789"><i
                        class="card__social__icon fa-solid fa-mobile-screen-button"></i></a>
                <a class="js__cardMail" href="mailto:muchacha@gmail.com"><i
                        class="card__social__icon fa-regular fa-envelope"></i></a>
                <a class="js__cardLinkedin" href="https://www.linkedin.com/in/muchacha" target="_blank"><i
                        class="card__social__icon fa-brands fa-linkedin-in"></i></a>
                <a class="js__cardGithub" href="https://github.com/muchacha" target="_blank"><i
                        class="card__social__icon fa-brands fa-github-alt"></i></a>
            </span>
        </div>
    </div>
</section>