<article class="share js__share share__hidden">
    <div class="share__group js__shareLinkContainer hidden">
        <p class="share__text"> La tarjeta ha sido creada:</p>
        <a class="share__link js__shareLink" href="" target="_blank"></a>
        <div class="share__button js__shareButtonTwitter">
            <i class="icon fa-brands fa-twitter" style="color: #f4f4f4;"></i>
            <div><a class="share__button__text" href="https://twitter.com/intent/tweet?" target="_blank">Compartir en
                    Twitter</div></a>
        </div>
        <section class="js__shareErrorContainer hidden">
        </section>

    </div>
</article>