<article class="share">
    <div class="share__group">
        <p class="share__text"> La tarjeta ha sido creada:</p>
        <p class="share__link">https://awesome-profile-card.com?id=A456DF0001</p>
        <div class="share__button">
            <i class="share__icon fa-brands fa-twitter" style="color: #f4f4f4;"></i>
            <div><a class="share__button__text" href="https://twitter.com/intent/tweet?" target="_blank">Compartir en
                    Twitter</div></a>
        </div>

    </div>
</article>